<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Product View</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <b>Product View Page</b>
        <hr>
        <label>Product Name: <b>{{ name }}</b></label><br>
        <label>Product Cost: <b>{{ cost }}</b> coins</label><br>
        <label>Date: <b>{{ date }}</b></label><br>
        <hr>
        <input type="button" name="backToList" value="BACK" onclick="return location.href = '/product';">
    </body>
</html>
